@font-face {
  font-family: "OpenSans-Regular";
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular-webfont.eot");
  src: url("../fonts/OpenSans-Regular/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular/OpenSans-Regular-webfont.woff") format("woff"), url("../fonts/OpenSans-Regular/OpenSans-Regular-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Regular/OpenSans-Regular-webfont.svg#OpenSans-Regular") format("svg");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot");
  src: url("../fonts/OpenSans-Bold/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold/OpenSans-Bold-webfont.woff") format("woff"), url("../fonts/OpenSans-Bold/OpenSans-Bold-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Bold/OpenSans-Bold-webfont.svg#OpenSans-Bold") format("svg");
}
@font-face {
  font-family: "OpenSans-Light";
  src: url("../fonts/OpenSans-Light/OpenSans-Light-webfont.eot");
  src: url("../fonts/OpenSans-Light/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Light/OpenSans-Light-webfont.woff") format("woff"), url("../fonts/OpenSans-Light/OpenSans-Light-webfont.ttf") format("truetype"), url("../fonts/OpenSans-Light/OpenSans-Light-webfont.svg#OpenSans-Light") format("svg");
}
@font-face {
  font-family: "RistrettoSlabPro";
  src: url("../fonts/RistrettoSlabPro/RistrettoSlabPro-Regular-webfont.eot");
  src: url("../fonts/RistrettoSlabPro/RistrettoSlabPro-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/RistrettoSlabPro/RistrettoSlabPro-Regular-webfont.woff") format("woff"), url("../fonts/RistrettoSlabPro/RistrettoSlabPro-Regular-webfont.ttf") format("truetype"), url("../fonts/RistrettoSlabPro/RistrettoSlabPro-Regular-webfont.svg#RistrettoSlabPro") format("svg");
}
@font-face {
  font-family: "GrandHotel";
  src: url("../fonts/GrandHotel/grandhotel-regular-webfont.eot");
  src: url("../fonts/GrandHotel/grandhotel-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/GrandHotel/grandhotel-regular-webfont.woff") format("woff"), url("../fonts/GrandHotel/grandhotel-webfont.ttf") format("truetype"), url("../fonts/GrandHotel/grandhotel-webfont.svg#GrandHotel") format("svg");
}
@font-face {
  font-family: "Lobster";
  src: url("../fonts/Lobster/lobster_1.3-webfont.eot");
  src: url("../fonts/Lobster/lobster_1.3-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Lobster/lobster_1.3-webfont.woff") format("woff"), url("../fonts/Lobster/lobster_1.3-webfont.ttf") format("truetype"), url("../fonts/Lobster/lobster_1.3-webfont.svg#Lobster") format("svg");
}